
/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/*
.name{
    position: fixed;
    padding: 75px;
    max-width: 450px;
    height: 70px;
    background-color: green;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px 50px rgba(0, 0, 0, 0.4)
}

.v-center{
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}
*/

/*Buttons*/
.nav{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

li{
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;
    height: 40px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
}

.vhvw-block{
    width: 100%;
    height: 100vh;
    position: relative;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50vw;
    height: 100%;
}

/*.vhvw-block img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
*/

.vhvw-block h1{
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    font-size: 3vw;
    color: yellow;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}

#h1-converse{
    color: green;
}

#vans{
    background-color: red;
}

#tommy{
    background-color: green;
}

#converse{
    background-color: yellow;
}